body {
    background-color: white;
    font-size: 1rem;
    font-family:serif ;
    color: black;
    line-height: 1.5;
}
img{
    max-width: 100%;
}

/* Reset */
body{
    margin: 0;
    background-color: color #ffcc02;
    
}

.page {
    
    height: 100vh;
    margin:auto;
    max-width: 1240px; 

    display: grid;
    place-items: center;
}
.error {
    display: flex;
    align-items: center;
}
.error-info {
    width: 50%;
    text-align: center;
}
.error-bike {
    width: 50%;
}
.error-title{
    font-size: 5rem;
    margin: auto;
}

.error-word{
    font-size: 2.5rem;
    font-weight: bold;
}

.error-button{
    display: inline-block;
    border: 2px solid black;
    padding: 1rem 2rem 1rem 2rem;

text-decoration: none;
color: black;
border-radius: 50px;
}